#content-container {
    margin-top: 50px;
}

#header-image {
    background-image: url("/images/header-image.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.thumbnail {
    padding-bottom: 10px;
    background-color: #e1e1e1;
}

.thumbnail:hover {
    background-color: #efefef;
}

.post-card {
    border-radius: 15px;
}

#all-article {
    margin-right: 20px;
}