html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    background-color: #f4f4f4;
}

@media (max-width: 335px) {
    #content-container {
        margin-top: 50px;
        margin-bottom: 200px;
    }
}

@media (min-width: 336px) and (max-width: 590px) {
    #content-container {
        margin-top: 50px;
        margin-bottom: 160px;
    }
}

@media (min-width: 601px) and (max-width: 990px) {
    #content-container {
        margin-top: 50px;
        margin-bottom: 120px;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    #content-container {
        margin-top: 50px;
        margin-bottom: 80px;
    }
}

@media (min-width: 1201px) {
    #content-container {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#header-image {
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.jumbotron {
    margin-bottom: 0px;
}

.post-card {
    border-radius: 15px;
    padding-bottom: 10px;
}

.post-card:hover {
    background-color: #c3b5a2;
}

#all-article {
    margin-right: 20px;
}

.gold-bg {
    background-color: #c0b283;
}

.gold-text {
    color: #c0b283;
}

.gold-btn {
    background-color: #c0b283;
    color: #f4f4f4;
}

.gold-btn:hover {
    background-color: #b0a273;
    color: #f4f4f4;
}

.silk-bg {
    background-color: #b9a892;
}

.silk-text {
    color: #b9a892;
}

.paper-bg {
    background-color: #f4f4f4;
}

.paper-text {
    color: #f4f4f4;
}

.black-bg {
    background-color: #373737;
}

.black-text {
    color: #373737;
}

.transparent-bg {
    background-color: transparent;
}

.footer-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-about {
    margin-top: 0px !important;
}

.contact-item {
    margin-top: 5px;
    font-size: 18px;
}

.no-top-margin {
    margin-top: 0px;
}

.footer-link {
    padding-left: 20px;
    color: #f4f4f4;
}

.footer-link:hover {
    color: #f4f4f4;
}

.blog-item {
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-header {
    font-size: 36px;
    padding-bottom: 20px;
}

.small-header {
    margin-top: 0px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    background-color: #337ab7;
    color: #fff;
}