<div class="container-fluid black-bg paper-text footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center footer-item">
                {% for item in site.data.pages %}
                    <a href="{{item.link}}" class="footer-link">{{ item.title }}</a>
                {% endfor %}
                <a href="/sitemap.xml" class="footer-link">Mapa stránky</a>
            </div>
            <div class="col-md-6 text-center footer-item">
                {% assign quote = site.data.quotes | sample %}
                "{{ quote.text }}" ({{ quote.author }})
            </div>
        </div>
    </div>
</div>