<head>
    <title>{{ site.name }} | {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link to stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{ site.css_folder }}bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ site.css_folder }}main.css">

    <!-- link to offline scripts -->
    <script src="{{ site.js_folder }}jquery-3.1.1.js"></script>
    <script src="{{ site.js_folder }}bootstrap.js"></script>

    <!-- link to online scripts
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>