<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/omne">O mne</a></li>
                <li><a href="/praca">Praca</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/webovepublikovanie">Webove publikovanie</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
            </ul>
        </div>
    </div>
</nav>