<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }} - {{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- link to stylesheets -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">

		<!-- link to offline scripts -->
		<script src="/js/jquery-3.1.1.js"></script>
		<script src="/js/bootstrap.js"></script>

		<!-- link to online scripts
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
	</head>
	<body>
		<!-- NAVIGATION START -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">{{ site.name }}</a>
				</div>
				<div class="collapse navbar-collapse" id="mainNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/omne">O mne</a></li>
						<li><a href="/praca">Praca</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/webovepublikovanie">Webove publikovanie</a></li>
						<li><a href="/kontakt">Kontakt</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- NAVIGATION END -->

		<!-- CONTENT START -->
		<div id="content-container">
		{{ content }}
		</div>
		<!-- CONTENT END -->

		<!-- FOOTER START -->
		<div class="container-fluid black-bg paper-text">
			<div class="container">
				<div class="row footer">
					<div class="col-md-6 text-center">
						<a href="/omne" class="footer-link">O mne</a>
						<a href="/praca" class="footer-link">Praca</a>
						<a href="/blog" class="footer-link">Blog</a>
						<a href="/webovepublikovanie" class="footer-link">Webove publikovanie</a>
						<a href="/kontakt" class="footer-link">Kontakt</a>
						<a href="#" class="footer-link">Mapa stranky</a>
					</div>
					<div class="col-md-6 text-center">
						B
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER END -->
	</body>
</html>