---
layout: basic
---
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            {% assign firstItem = site.[page.collection].first %}
            <li class="active"><a data-toggle="pill" href="#{{ firstItem.href }}">{{ firstItem.title }}</a></li>
            {% for item in site.[page.collection] offset:1 %}
            <li><a data-toggle="pill" href="#{{ item.href }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-9 praca-content">
        <div class="tab-content praca-content">
            {% assign firstItem = site.[page.collection].first %}
            <div id="{{ firstItem.href }}" class="tab-pane fade in active">
                <h3 class="no-top-margin">{{ firstItem.title }}</h3>
                <p>{{ firstItem.content }}</p>
            </div>
            {% for item in site.[page.collection] offset:1 %}
            <div id="{{ item.href }}" class="tab-pane fade in">
                <h3 class="no-top-margin">{{ item.title }}</h3>
                <p>{{ item.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>