---
layout: basic
---
<div class="row text-center post-about">
  <h4 class="no-top-margin">{{ page.date | date_to_string }} - Odhadovany cas citania: {{ page.content | reading_time }} - Pocet slov: {{ page.content | number_of_words}}</h4>
</div>

<div class="row">
  {{ page.content }}
</div>

<div class="row">
  {% if page.next.url %}
  <a href="{{ page.next.url }}" type="button" class="btn btn-primary">&laquo; {{ page.next.title }}</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url }}" type="button" class="btn btn-primary pull-right">{{ page.previous.title }} &raquo;</a>
  {% endif %}
</div>